/* Add a moving animated three-color gradient background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    /* Darker background color */
    color: #fff;
    /* Light text color */
    user-select: none;
    /* Three-color gradient background animation */
    background: linear-gradient(to bottom right, #000000, #303336, #000000) fixed,
        repeating-linear-gradient(45deg,
            #000,
            #000c18 33%,
            /* Dark grey */
            #000 66%
            /* Black */
        );
    background-size: 200% 200%, auto;
    /* Adjust size for better coverage */
    animation: gradientAnimation 60s linear infinite;
    /* Slower animation */
}

/* Define the animation keyframes */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%, 0% 0%;
        /* Start from top left */
    }

    50% {
        background-position: 100% 100%, 100% 100%;
        /* Move to bottom right */
    }

    100% {
        background-position: 0% 0%, 0% 0%;
        /* Return to top left */
    }
}

/* Your existing CSS styles go here */
.container {
    max-width: 1280px;
    display: flex;
    margin: 60px auto;
    /* This will center the container horizontally */
}

/* Rest of your CSS styles */




.heading {
    width: calc(180px + 60px);
    /* Add the extra margin to the width */
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    padding-right: 60px;
    /* Add padding to the right */
}

.heading h3 {
    font-family: serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.heading img {
    max-width: 180px;
    /* Maximum width for the profile picture */
    height: auto;
    /* Automatically adjust height to maintain aspect ratio */
}

.biography {
    max-width: 180px;
    /* Limit the maximum width to 180px */
}

.biography p {
    font-size: 9pt;
    /* Set font size to 9pt */
    line-height: 1.4;
    /* Set line height for better readability */
}

.rectangle {
    width: calc(180px);
    /* Increase width by 30% */
    height: 720px;
    background-color: #3F3F3F;
    /* Darker box background color */
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    /* Hide any content that overflows the box */
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* Add transition effect */
}

.rectangle:first-child {
    margin-left: 20px;
    /* Adjust the left margin of the first Gallery item */
}

.rectangle:hover {
    transform: scale(1.1);
    /* Zoom in by 10% when hovering over the box */
}

.rectangle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Crop the image to fit within the box */
    object-position: center;
    /* Center the image within the box */
    position: absolute;
    top: 0;
    left: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181619;
    /* Darker popup background color */
    padding: 6px;
    border-radius: 0px;
    /* Disable text selection */
    user-select: none;
}


.popup-content img {
    max-width: 1280px;
    max-height: 720px;
}

.profile-container {
    margin: inherit;
    padding: inherit;
    width: -100%;
}

footer {
    text-align: center;
    margin-top: 60px;
    /* Adjust margin as needed */
    margin-bottom: 20px;
    /* Add margin at the bottom for spacing */
    font-size: 12px;
    /* Adjust font size as needed */
    color: #666666;
    /* Dark grey font color */
}

footer p {
    margin: 90px 0 0;
    font-size: 12px;
    /* Adjust font size as needed */
}

.footer-icons {
    text-align: center;
    max-width: 180px;
    /* Limit the width of the footer */
    margin: 30px 0;
    /* Default margin */
}

.footer-icons a {
    display: inline-block;
    margin: 0 12px;
    /* Adjust spacing between icons */
}

.footer-icons img {
    width: 30px;
    /* Adjust the size of the icons */
    height: 30px;
}

/* Remove the close symbol */
.close {
    display: none;
    /* Hide the close symbol */
}

/* Add a breakpoint for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        /* Allow items to wrap to the next line */
        text-align: center;
        /* Center the content horizontally */
        padding: 30px
    }

    .rectangle {
        width: calc(33.33% - 10px);
        /* Adjust the width for 3 boxes per row and consider margin */
        margin: 5px;
        /* Add some margin between gallery items */
    }

    .rectangle:nth-child(3n+1) {
        margin-left: 0;
        /* Remove left margin for the first item in each row */
    }

    .profile-container {
        width: 100%;
        justify-content: center;
        padding: 30px
    }

    .heading {
        width: 100%;
        /* Ensure the heading spans the full width */
        text-align: center;
        /* Center the content horizontally */
    }

    .biography {
        max-width: 180px;
        /* Limit the maximum width to 180px */
        margin: 0 auto;
        /* Center the biography horizontally */
    }

    .footer-icons {
        margin: 30px auto;
        /* Adjust margin for mobile */
    }
}